{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
  <div class="container py-5">
    <h1>Привет, я Лилия</h1>
    <div class="col"> 
      <p>
        На создание этого сайта ушло много времени, а просмотреть его 
        можно всего за пару минут. Это была сложная работа, и поэтому 
        вдвойне приятнее видеть результат своей работы 
        (от бесконечного поиска информации и “да блин, почему не работает” 
        до “ого, да это настоящие картинки, а теперь еще 
        и комментарий можно оставить, ну ничего себе”).
      </p>
      <p>
        We’ll keep pushing.
      </p>
    </div>
  </div> 
{% endblock %}